<footer>
  <br>
  <p>
    <%= current_year %>, Basystyy Andrew, the illusion of becoming a programmer)))<br>
    <%= github_url('Basystyy','https://github.com/Basystyy/testguru.git') %><br>
    <%= link_to 'project in an online school Thinknetica', 'http://thinknetica.com' %> <br>
  </p>
</footer>