<h1>Tricky tests</h1>

<%= link_to 'Register a new user', new_user_registration_path %><br>

<%= link_to 'Login existing user', new_user_session_path %><br>

<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th colspan="3">Actions</th>
    <th>Qnt questions</th>
  </tr>

  <%= render @tests %>
</table>
